html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #4675E0;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 170px; /* Set the width of the sidebar */
    position: absolute; /* absolute Sidebar ( Fixed to stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #b7bdac ;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 2px;
    border-style: solid;
    border-color: red;
    margin-top: 100px;
    font-size: auto;
} /*From https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    margin-left: 180px;
    margin-right: 20px;
    font-size: 20px;
}

.list {
    text-align: left;
    margin-left: 550px;
}

.jump-text{
    text-align: right;
    font-size: 20px;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.pic-float{
    float: right;
}

.left-margin {
    margin-left: 175px;
}

.list-container{
    background-color: rgb(81, 126, 231);
    width: auto;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-style: solid;
    border-color: red;
    border-width: 7px;
    border-radius: 3%;
    font-size: 25px;
}

.resize-pic{
    height: 320px;
    width: auto;
    float: right;
    margin: 10px 10px 10px 10px;
}

.top-button{
    height: 130px;
    width: 190px;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    margin: 5px;
}
.blocks{
    height: 125px;
    width: 185px;
    border: red;
    border-width: 5px;
    border-style: solid;
    margin: 5px;
}