html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.blue-background{
    background-color: #4675E0;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* absolute Sidebar ( Fixed to stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #b7bdac ;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 2px;
    border-style: solid;
    border-color: red;
    margin-top: 100px;
} /*From https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    margin-left: 180px;
    margin-right: 20px;
    font-size: 20px;
}

.list {
    text-align: left;
    margin-left: 550px;
}

.jump-text{
    text-align: right;
    font-size: 20px;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.pic-float{
    float: right;
}

